<h2>Create Server</h2>
<form [formGroup]="createServerForm" (ngSubmit)="submit()">
    <div class="form-group">
        <label for="assetId">Asset Id</label>
        <input type="number" formControlName="assetId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.assetId.errors }" />
        <div *ngIf="submitted && f.assetId.errors" class="invalid-feedback">
            <div *ngIf="f.assetId.errors.required">AssetId is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="brand">Brand</label>
        <select class="form-control" formControlName="brand">
            <option value="{{brand.id}}" *ngFor="let brand of brands">{{brand.name}}</option>
        </select>
        <div *ngIf="submitted && f.brand.errors" class="invalid-feedback">
            <div *ngIf="f.brand.errors.required">Brand is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
        <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
            <div *ngIf="f.price.errors.required">Price is required</div>
        </div>
    </div>


    <button type="button" class="btn btn-sm btn-success ms-2 mt-2 mb-2" (click)="addModule()">
        Add Module
    </button>

    <div formArrayName="ramModules" *ngFor="let ramModules of createServerForm.controls.ramModules?.value; let i = index">
        <div [formGroupName]="i" class="form-group row">
            <div class="col-xl-5">
                <label >Size</label>
                <input formControlName="size" type="text" class="form-control" placeholder=""/>
            </div>

            <div class="col-xl-5">
                <label>Ram type</label>

                <select class="form-control" formControlName="type">
                    <option value="{{type}}" *ngFor="let type of ramTypes">{{type}}</option>
                </select>
            </div>


            <button type="button" class="btn btn-danger btn-sm" (click)="removeModule(i)">
                <i class="fa fa-trash-o fa-lg"></i>
            </button>
        </div>
    </div>

    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Create
        </button>
    </div>
</form>
